@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:wght@300;400&display=swap");

:root {
  --Primary-Colors: #1e293b;
  --Secondary-Colors: #cbd5e1;
  --Background-Colors: #e6e6e6;
  --Background-Ligth-Colors: #f8fafc;
  --Border-Bottom: 1px solid rgba(30, 41, 59, 0.35);
  --Text-ligth-Colors: #f8fafc;
  --Border-Radius: 5px;
  --Font-Family-Title: "lora";
  --Font-Family-Text: "poppins";
  --Size-Title: 3rem;
  --Size-Text: 1.3rem;
  --Icons-Size: 1.56rem;
  --Shadow-Box: 0 4 4 rgba(0, 0, 0, 0.25);
  --Size-img-Width: 400px;
  --Size-img-heigth: 225px;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: var(--Font-Family-Text);
  background-color: var(--Background-Ligth-Colors);
}

.maincontent .navbar {
  max-width: 1500px;
}

/* NavBar */

header {
  top: 0;
  left: 0;
  position: sticky;
  background-color: var(--Secondary-Colors);
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.navbar--title {
  font-family: "lora";
  font-size: calc(var(--Size-Text) * 1.5);
}

.navbar--title a {
  color: var(--Primary-Colors);
}

.navbar--nav {
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav--item {
  width: 100%;
  height: 75px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.nav--item a {
  width: 100%;
  height: 100%;
  display: flex;
  transform: 1s;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: var(--Primary-Colors);
}

.nav--item:hover {
  background-color: var(--Primary-Colors);
}

.nav--item a:hover {
  color: var(--Secondary-Colors);
}

/* Section Hero */

.maincontent--hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: var(--Border-Bottom);
}

.hero--content {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero--title {
  margin: 10px 0;
  color: var(--Primary-Colors);
  font-size: var(--Size-Title);
  font-family: var(--Font-Family-Title);
}

.hero--paragraph {
  color: var(--Primary-Colors);
  font-size: var(--Size-Text);
}

.btn {
  padding: 10px 50px;
  margin: 10px 0;
  border-radius: var(--Border-Radius);
  color: var(--Background-Ligth-Colors);
  background-color: var(--Primary-Colors);
  box-shadow: var(--Shadow-Box);
}

.btn:hover {
  color: var(--Primary-Colors);
  border: var(--Border-Bottom);
  background-color: var(--Secondary-Colors);
}

/* Section About */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: var(--Border-Bottom);
}

.aboutcontent--title {
  color: var(--Primary-Colors);
  font-size: var(--Size-Title);
  font-family: var(--Font-Family-Title);
}

.aboutcontent--body {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.aboutcontent--img {
  width: 700px;
}

.aboutcontent--paragraph {
  font-size: var(--Size-Text);
  width: 50%;
}

/* Setion Works */

.workcontent {
  gap: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: var(--Border-Bottom);
}

.workcontent--title {
  font-size: var(--Size-Title);
  font-family: var(--Font-Family-Title);
}

.workcontent--galery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.workcontent--img {
  object-fit: cover;
  width: var(--Size-img-Width);
  height: var(--Size-img-heigth);
}

/* Section Contac */

.contac {
  gap: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contac--title {
  color: var(--Primary-Colors);
  font-size: var(--Size-Title);
  font-family: var(--Font-Family-Title);
}

.contac--forms {
  gap: 20px;
  width: 1000px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--Secondary-Colors);
}

.contac--forms input {
  outline: 0;
  color: var(--Primary-Colors);
  width: 100%;
  border: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: var(--Border-Bottom);
  font-family: var(--Font-Family-Text);
  font-size: calc(var(--Size-Text) - 3);
}

.contac--forms textarea {
  padding: 10px;
  font-size: var(--Size-Text);
  background-color: transparent;
  border-radius: var(--Border-Radius);
  font-family: var(--Font-Family-Text);
}

.btn--forms {
  display: flex;
  max-width: 80%;
  text-align: center;
  margin: auto;
}

/* Section Footer */

.footer {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--Secondary-Colors);
}

.info {
  height: auto;
  width: 200px;
  background-color: bisque;
  border-left: var(--Border-Bottom);
}

.footerinfo--icons {
  display: flex;
  flex-direction: column;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 50;
}

.footer--maps {
  border-radius: var(--Border-Radius);
}
